@{
    Layout = "~/Views/Shared/Layoutadmin.cshtml";
    ViewData["Title"] = "admin";
}
<head>

    <link href="~/css/admin.css" rel="stylesheet" />
</head>

@*<header>

    <nav class="navbar2">
        <div class="container-fluid1">
            
         
            <div class="navbar3">
                <ul class="navbar4">
                    <li class="nav-item">
                        <a class="nav-link text-dark4" asp-area="" asp-controller="User" asp-action="Index">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark4" asp-area="" asp-controller="Specialization" asp-action="Index">Specializations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark4" asp-area="" asp-controller="City" asp-action="Index">Cities</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark4" asp-area="" asp-controller="Town" asp-action="Index">Towns</a>
                    </li>
                    

                </ul>
            </div>
        </div>
    </nav>
</header>*@