@{
    var hasReviewed = ViewBag.HasReviewed as bool? ?? false;
    var reviewedUserId = ViewBag.ReviewedUserId as int?;
}

<div class="rating" id="rating">
    <div class="stars" id="stars">
        <span class="star" data-value="1">&#9733;</span>
        <span class="star" data-value="2">&#9733;</span>
        <span class="star" data-value="3">&#9733;</span>
        <span class="star" data-value="4">&#9733;</span>
        <span class="star" data-value="5">&#9733;</span>
    </div>
    <div class="rating-count" id="ratingCount">0</div>
</div>

<style>
    .stars {
        display: flex;
        justify-content: center;
    }

    .star {
        font-size: 24px;
        cursor: pointer;
        color: #ccc;
    }

        .star:hover,
        .star.active {
            color: #ffac42;
        }
</style>

