@using Microsoft.AspNetCore.Mvc.Razor
@* @Model YourModelType *@
@{
    // ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/assets/vendor/bootstrap/css/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="~/assets/vendor/bootstrap/css/bootstrap-grid.rtl.min.css" rel="stylesheet" />
    <link href="~/assets/vendor/bootstrap/css/bootstrap-grid.rtl.css" rel="stylesheet" />
    <link href="~/assets/vendor/bootstrap/css/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/assets/css/main.css" rel="stylesheet" />
    <link href="~/assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/vendor/bootstrap/css/bootstrap.rtl.css" rel="stylesheet" />
    <link href="~/assets/vendor/bootstrap/css/bootstrap.rtl.min.css" rel="stylesheet" />
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.min.css" rel="stylesheet" />
    <link href="~/assets/vendor/glightbox/css/glightbox.css" rel="stylesheet" />
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

</head>
<body>
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>عننا</h2>
                <h4>  سهلنالك كل الخدمات "في خدمتك" في خدمتك طول الوقت </h4>
            </div>

            <div class="row gy-4">
              
                <div class="col-lg-6">
                    <div class="content ps-0 ps-lg-5">
                        <p class="fst-italic">
                            هتلاقي كل المعلومات اللي عايز تعرفها عن
                        </p>
                        <ul>
                            <li><i class="bi bi-check-circle-fill"></i> في خدمتك  بيوفرلك الخدمات اللي ممكن تحتاجها في اي مكان و بيسهلها عليك انك تقدر تطلبها في اي وقت</li>
                            <li><i class="bi bi-check-circle-fill"></i>لو عايز تحجز موعد مع دكتور غي البيت لو عندك حالة طارئة ومش هتقدر تتنقل من مكانها </li>
                            <li><i class="bi bi-check-circle-fill"></i>لو عايز مدرس خصوصي لمادة معينة ومش لاقي مدرس كويس تقدر تتواصل معاه على الموعد المناسب ليك </li>
                            <li><i class="bi bi-check-circle-fill"></i>لو عايز صيانة منزلية زي سباكة نجارة او كهربائية ومش لاقي حد ممكن قريب منك وفرنالك الخدمات لحد البيت </li>
                            <li><i class="bi bi-check-circle-fill"></i>لو عندك مناسبة معينة ومحتاج مصمم أفراح او مصور فوتوغرافي تقدر دلوقت توصل لكل دا بس من في خدمتك </li>



                            @*  <li><i class="bi bi-check-circle-fill"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li> *@
                        </ul>

                    </div>
                </div>
            </div>

        </div>
    </section>
</body>
</html>
