@using Microsoft.AspNetCore.Mvc.Razor
@* @Model YourModelType *@
@{
    // ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <titleFe 7'dmtak</titleFe>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link href="~/assets/css/main.css" rel="stylesheet" />

    <!-- Vendor CSS Files -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <!-- Template Main CSS File -->
    <link href="~/assets/vendor/glightbox/css/glightbox.css" rel="stylesheet" />
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
    <link href="~/assets/css/main.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.min.css" rel="stylesheet" />
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet" />
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />
    <link href="~/assets/css/main.css" rel="stylesheet" />

</head>
<body>
    <section id="hero" class="hero">
        <div class="container position-relative">
            <div class="row gy-5" data-aos="fade-in">
                <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
                    <h2>Welcome to <span>Fe 7'dmtak</span></h2>
                    <p>في خدمتك وفرلك كل الخدمات اللي ممكن تحتاجها تقدر تطلبها في اي وقت و اي مكان</p>
                    <div class="d-flex justify-content-center justify-content-lg-start">
                        <a href="https://localhost:44387/Home/Register" class="btn-get-started">تسجيل حساب</a>
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2">
                    <img src="assets/img/hero-img.svg" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="100">
                </div>
            </div>
        </div>

        <div class="icon-boxes position-relative">
            <div class="container position-relative">
                <div class="row gy-4 mt-5">

                    <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-easel"></i></div>
                            <h4 class="title"><a href="" class="stretched-link">خدمات تعليمية</a></h4>
                        </div>
                    </div><!--End Icon Box -->

                    <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-gem"></i></div>
                            <h4 class="title"><a href="" class="stretched-link">خدمات طبية</a></h4>
                        </div>
                    </div><!--End Icon Box -->

                    <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-geo-alt"></i></div>
                            <h4 class="title"><a href="" class="stretched-link">خدمات صيانة منزلية</a></h4>
                        </div>
                    </div><!--End Icon Box -->

                    <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="500">
                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-command"></i></div>
                            <h4 class="title"><a href="" class="stretched-link">خدمات اخرى</a></h4>
                        </div>
                    </div><!--End Icon Box -->

                </div>
            </div>
        </div>

        </div>
    </section>
    <!-- End Hero Section -->
    <!-- End Breadcrumbs -->
    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">

            <div class="row gy-4 posts-list">
                <div class="col-xl-4 col-md-6">
                    <article>
                        <div class="post-img">
                            <img src="~/assets/img/blog/untitled design (7).png" alt="" class="img-fluid">
                        </div>
                        <h2 class="title">
                            <a href="blog-details.html">معلمون في مختلف التخصصات</a>
                        </h2>

                        <div class="d-flex align-items-center">
                            <div class="post-meta">
                            </div>
                        </div>

                    </article>
                </div><!-- End post list item -->
                <div class="col-xl-4 col-md-6">
                    <article>

                        <div class="post-img">
                            <img src="~/assets/img/blog/untitled design (11).png" alt="" class="img-fluid">
                        </div>


                        <h2 class="title">
                            <a href="blog-details.html">أطباء في مختلف التخصصات</a>
                        </h2>

                        <div class="d-flex align-items-center">

                            <div class="post-meta">
                            </div>
                        </div>

                    </article>
                </div><!-- End post list item -->

                <div class="col-xl-4 col-md-6">
                    <article>

                        <div class="post-img">
                            <img src="~/assets/img/blog/untitled design (5).png" alt="" class="img-fluid">
                        </div>
                        <h1 class="title">
                            <a href="blog-details.html">تصوير</a>
                        </h1>
                        <div class="d-flex align-items-center">
                            <div class="post-meta">
                                <p class="post-date">
                                </p>
                            </div>
                        </div>

                    </article>
                </div>
                <div class="col-xl-4 col-md-6">
                    <article>
                        <div class="post-img">
                            <img src="~/assets/img/blog/whatsapp image 2024-05-09 at 12.11.53 pm.jpeg" height="300" width="400" />
                        </div>
                        <h1 class="title">
                            <a href="blog-details.html">تنظيم حفلات ومناسبات</a>
                        </h1>
                        <div class="d-flex align-items-center">
                            <div class="post-meta">
                                <p class="post-date">
                                </p>
                            </div>
                        </div>

                    </article>
                </div>
                <div class="col-xl-4 col-md-6">
                    <article>


                        <div class="post-img">
                            <img src="~/assets/img/blog/untitled design (9).png" alt="" class="img-fluid">
                        </div>
                        <h2 class="title">
                            <a href="blog-details.html">صيانة و تشطيب</a>
                        </h2>

                        <div class="d-flex align-items-center">
                            <div class="post-meta">
                            </div>
                        </div>

                    </article>
                </div>
                <div class="col-xl-4 col-md-6">
                    <article>

                        <div class="post-img">
                            <img src="~/assets/img/blog/untitled design (10).png" alt="" class="img-fluid">
                        </div>
                        <h2 class="title">
                            <a href="blog-details.html">نجارة وتوفير أثاث</a>
                        </h2>

                        <div class="d-flex align-items-center">
                            <div class="post-meta">
                            </div>
                        </div>

                    </article>
                </div>
            </div>
        </div>
    </section>
    </main>
    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    <div id="preloader"></div>
    <!-- Vendor JS Files -->
    <script src="~/assets/js/main.js"></script>
    <script src="~/assets/vendor/aos/aos.cjs.js"></script>
    <script src="~/assets/vendor/aos/aos.esm.js"></script>
    <script src="~/assets/vendor/aos/aos.js"></script>
    <script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/assets/vendor/glightbox/js/glightbox.js"></script>
    <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/assets/vendor/isotope-layout/isotope.pkgd.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.esm.min.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.esm.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="~/js/site.js"></script>

</body>
</html>