@using Microsoft.AspNetCore.Mvc.Razor
@* @Model YourModelType *@
@{
    // ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/assets/css/profile2.css" rel="stylesheet" />
    <link href="~/assets/css/main.css" rel="stylesheet" />
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/vendor/bootstrap/css/bootstrap.rtl.min.css" rel="stylesheet" />
    <link href="~/assets/vendor/bootstrap/css/bootstrap.rtl.css" rel="stylesheet" />
    <link href="~/assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.min.css" rel="stylesheet" />
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
    <link href="~/assets/vendor/glightbox/css/glightbox.css" rel="stylesheet" />
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<div class="container">
    <div class="row">
        <div class="col-xl-8">
            <div class="card">
                <div class="card-body pb-0">
                    <div class="row align-items-center">
                        <div class="col-md-3">
                            <div class="text-center border-end">
                                <img src="~/assets/img/team - copy/team-1.jpg" class="img-fluid avatar-xxl rounded-circle" alt="">
                                <h4 class="text-primary font-size-20 mt-3 mb-2"> شهد مدحت</h4>
                            </div>
                        </div><!-- end col -->
                        <div class="col-md-9">
                            <div class="ms-3">
                                <div>
                                    <h4 class="card-title mb-2">ملفي الشخصي</h4>
                                    @*                                     <p class="mb-0 text-muted">
                                    Hi I'm Jansh,has been the industry's standard
                                    dummy text To an English person alteration text.
                                    </p> *@
                                </div>
                                <div class="row my-4">
                                    <div class="col-md-12">
                                        <div>
                                            <p class="text-muted mb-2 fw-medium">
                                                <i class="mdi mdi-email-outline me-2"></i>Janshwells@probic.com
                                            </p>
                                            <p class="text-muted mb-2 fw-medium">
                                                <i class="mdi mdi-email-outline me-2"></i>Janshwells@probic.com
                                            </p>
                                        </div>
                                    </div><!-- end col -->
                                </div><!-- end row --><!-- end li -->
                                <!-- end li -->
                                <!-- end li -->
                                </ul><!-- end ul -->
                            </div>
                        </div><!-- end col -->
                    </div><!-- end row -->
                </div><!-- end card body -->
            </div><!-- end card -->

        </div><!-- end col -->

        <div class="col-xl-4">
            <div class="card">
                <div class="card-body">
                    <div>
                        <h4 class="card-title mb-4">بيانات الشخص</h4>
                        <div class="table-responsive">
                            <table class="table table-bordered mb-0">
                                <tbody>
                                    <tr>
                                        <th scope="row">الاسم</th>
                                        <td>الاسم</td>
                                    </tr><!-- end tr -->
                                    <tr>
                                        <th scope="row">الهاتف</th>
                                        <td>California, United States</td>
                                    </tr><!-- end tr -->
                                    <tr>
                                    <tr>
                                        <th scope="row">التخصص</th>
                                        <td>Jansh Wells</td>
                                    </tr><!-- end tr -->
                                    <tr>
                                    <tr>
                                        <th scope="row">المحافظة</th>
                                        <td>Jansh Wells</td>
                                    </tr><!-- end tr -->
                                    <tr>
                                    <tr>
                                        <th scope="row">المركز</th>
                                        <td>Jansh Wells</td>
                                    </tr><!-- end tr -->
                                    <tr>
                                    <tr>
                                        <th scope="row">العنوان</th>
                                        <td>California, United States</td>
                                    </tr><!-- end tr -->
                                    <tr>
                                        <th scope="row">النوع</th>
                                        <td>English</td>
                                    </tr><!-- end tr -->
                                    <tr>
                                        <th scope="row">البريد الاليكتروني</th>
                                        <td>abc12@probic.com</td>
                                    </tr><!-- end tr -->
                                </tbody><!-- end tbody -->
                            </table><!-- end table -->
                        </div>
                    </div>
                </div><!-- end card body -->
            </div><!-- end card -->
        </div><!-- end card-body -->
    </div><!-- end card -->
</div><!-- end col -->
    </div>
</div>
